@use "sass:math"

// color 
$c: #b38b46
$cg: #cea65e

$c2: #22201e
$c2g: #36322d

// fonts
$bc: #ffffff
$fc: #282828

$bc2: #d7dbdd
$fc2: #282828

$bc3: #22201e
$fc3: #d7dbdd

$cload: #d7dbdd

// шрифты 
$fwh: 700
$fw: 400

// d
$fzh1: 36px
$fzh2: 24px
$fzh3: 22px

$fz: 20px
$fzs: 16px

// m
$fzh1m: 28px
$fzh2m: 20px
$fzh3m: 18px

$fzm: 14px
$fzsm: 12px

// отступы 
$ps: 8px
$p: 18px
$pl: 30px

$psec: 75px
$psecm: 40px

// special
$animt: 200ms
$ops: 0.6
$op: 0.3

// переход на мобилку
$hd: 1200px
$d: 977px
$m: 976px
$sm: 600px

// высота меню
$menuh: 75px

// shadow colors
$c80: #b38b4680
$c60: #b38b4660
$c40: #b38b4640
$c20: #b38b4620
$c00: #b38b4600

$cg80: #cea65e80
$cg60: #cea65e60
$cg40: #cea65e40
$cg20: #cea65e20
$cg00: #cea65e00

$c280: #22201e80
$c260: #22201e60
$c240: #22201e40
$c220: #22201e20
$c200: #22201e00

$c2g80: #36322d80
$c2g60: #36322d60
$c2g40: #36322d40
$c2g20: #36322d20
$c2g00: #36322d00

$bc80: #ffffff80
$bc60: #ffffff60
$bc40: #ffffff40
$bc20: #ffffff20
$bc00: #ffffff00

$fc80: #28282880
$fc60: #28282860
$fc40: #28282840
$fc20: #28282820
$fc00: #28282800

$bc280: #d7dbdd80
$bc260: #d7dbdd60
$bc240: #d7dbdd40
$bc220: #d7dbdd20
$bc200: #d7dbdd00

$fc280: #28282880
$fc260: #28282860
$fc240: #28282840
$fc220: #28282820
$fc200: #28282800

$bc380: #22201e80
$bc360: #22201e60
$bc340: #22201e40
$bc320: #22201e20
$bc300: #22201e00

$fc380: #d7dbdd80
$fc360: #d7dbdd60
$fc340: #d7dbdd40
$fc320: #d7dbdd20
$fc300: #d7dbdd00
