// фон скроллбара
::-webkit-scrollbar
	width: $ps + 6px
// btn-s
::-webkit-scrollbar-button
	display: none
// пустое пространство под индикатором прокрутки
::-webkit-scrollbar-track
	background: linear-gradient(to bottom, $c2, $c2g)
// индикатор прокрутки
::-webkit-scrollbar-thumb
	background: linear-gradient(to bottom, $c, $cg)
	border-radius: $ps
	border: solid 3px $c2
